.whiteRow {
  width: 100%;
  background-color: #f4f5f6;
}
.iconBlock {
  width: 65%;
  margin: 20px;
  background-color: #f4f5f6;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second {
  display: flex;
  justify-content: space-between;
}
.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 20px;
  background: #f4f5f6 0% 0% no-repeat padding-box;
  border: 1px solid #dadce0;
  border-radius: 13px;
  font: normal normal bold 12px/14px Roboto;
}
.logOut,
.square,
.menuText:hover {
  cursor: pointer;
}

.mode {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #0000001a;
  border-radius: 13px;
  opacity: 1;
}
.roundBox {
  width: 200px;
  height: 26px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #0000001a;
  border-radius: 13px;
  opacity: 1;
  margin: 5px;

  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 91px;
  height: 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #0000001a;
  border-radius: 5px;
  opacity: 1;
  margin: 5px;
  padding: 5px;

  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.menuImage {
  width: 38px;
  height: 38px;
}
.modeIcon {
  width: 23px;
  height: 23px;
}
.vertical {
  height: 80%;
  border: 1px solid #dadce0;
}

.message {
  float: right;
  background: #f4f5f6 0% 0% no-repeat padding-box;
}
.messageFile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 26px;
  background: #fafafb 0% 0% no-repeat padding-box;
  border: 1px solid #dadce0;
  border-radius: 5px;
  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.messageIcon {
  display: flex;
  align-items: center;
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
body {
  background-color: #4535f3;
}
@media screen and (max-width: 1200px) {
  body {
    background-color: lightgreen;
  }
  .square {
    width: 61px;
    height: 48px;
    font-size: 8px;
  }
  .menuImage {
    width: 25px;
    height: 25px;
  }
  .roundBox {
    width: 150px;
    height: 20px;
    font-size: 8px;
  }
  .modeIcon {
    width: 20px;
    height: 20px;
  }
  .logOut {
    width: 55px;
    height: 15px;
    font-size: 5px;
  }
  .messageRow {
    height: 200px;
  }
}

.toslide-btn-group {
  width: 95%;
  background: #dadce0 0% 0% no-repeat padding-box;
  border-radius: 8px;
  margin: 0 auto;
}

.toslide-btn-group label {
  all: unset;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  font: normal normal bold 14px/16px Roboto;
  letter-spacing: 0px;
  color: #000000;
  padding: 5px;
}

.toslide-btn-group .radio-input {
  all: unset;
}

.toslide-btn-group .radio-input:checked + label {
  background-color: white;
  box-shadow: 0px 0.5px 3px #00000033;
}
.sortBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 26px;
  background: #fafafb 0% 0% no-repeat padding-box;
  border: 1px solid #dadce0;
  border-radius: 5px;
  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.checkLabel {
  all: unset;
  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.messageFont {
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #7c7d80;
}
.purpleFont {
  width: 70px;
  border: 1px solid #4535f3;
  border-radius: 13px;
  text-align: center;
  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #4535f3;
}
.question {
  font: normal normal normal 14px/20px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
.messageClose {
  width: 34px;
  height: 34px;
}
.messageRoundBox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.5px 3px #00000033;
  border-radius: 30px;
  margin: 0 auto;
}
.messagePost {
  height: 26px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.5px 3px #00000033;
  border-radius: 5px;
}
.messageRow {
  height: 340px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #dadce0;
}
.messageFont {
  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.prevMessage {
  font: normal normal medium 14px/16px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.purpleMessage {
  background: #4535f3 0% 0% no-repeat padding-box;
  border-radius: 30px;
  text-align: center;
}

.purpleMessageFont {
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}
