.guide1, .guide2, .guide3{
    border-radius: 30px;
    margin: 0 auto;
    background-color: #E6E6FA;
    transition: transform 0.5s, background-color 0.5s;
}
.guide1:hover, .guide2:hover, .guide3:hover {
    background-color: #8B00FF;
    transform:
    scale(1.05);
    z-index: 1;
}

.info, .guide{
    height: 40vh;
    margin: 0 auto;
}
.button1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#8B00FF;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .button1:hover {background-color: #3e8e41}
  
  .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .button2 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    background-color:white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .button2:hover {background-color:pink}
  
  .button2:active {
    background-color:pink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }