
.guide1, .guide2, .guide3{
  border-radius: 20px;
  background-color: rgba(63, 63, 234, 0.2);
  transition: transform 0.5s, background-color 0.5s;
}
.guide1:hover, .guide2:hover, .guide3:hover {
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #b1b1f7;
  transform: scale(1.05);
  z-index: 1;
}
.main{
  height: 100vh;
}
.info, .guide{
    margin: 0 auto;
}
.button1{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #4831f3;
  }
  
  .button1:hover {background-color: #3e8e41}
  
  .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .button2 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    background-color:white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .button2:hover {background-color:pink}
  
  .button2:active {
    background-color:pink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .nav-link, .navbar-brand{
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }

  .lang{
  font-family: Roboto;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #3f3fea;
  }

  .right1{
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #4831f3;
  }

  .right2{
  font-family: Roboto;
  font-size: 1.05rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }

  .right3{
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }

  .right4{
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }

  .OTUG, .AQUG, .OCUG{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
  }