.question {
  cursor: pointer;
}
.bottom_div1 {
  position: fixed;
  /* width: 100%; */
  bottom: 50px;
  left: 0;
  right: 0;
}
.bottom_div2 {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 10px;
  left: 0;
  right: 0;
}

.fixed_size_message_row {
  /* height:1vh; */
  overflow: auto;
  background: #fff;
}
