.question {
  cursor: pointer;
}
.bottom_div1 {
  position: fixed;
  /* width: 100%; */
  bottom: 60px;
  left: 0;
  right: 0;
}


.fixed_size_message_row {
  /* height:1vh; */
  overflow: auto;
  background: #fff;
}
